html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.background-img{
    width: 100%;
    position: relative;
    background-image: url(../img/minh-pham-OtXADkUh3-I-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    position: fixed;
    height: $nav-height;
    width: 100%;
    top: 0;
    overflow: hidden;
    display: flex;
    z-index: 1;
    
    .nav-link{
        line-height: $nav-height;
        text-align: center;
        width: 33.33333%;
        color: black;
        text-decoration: none;
        font-weight: 500px;
        font-size: 35px;

        &-1{
            background-color: $yellow;

            &::after{
                @include nav-pink(calc(33.33333% - 20px));

                @media (max-width: 750px) {
                    @include nav-pink(calc(33.33333% - 10px));
                    transform: skew(-15deg);
                    height: 60px;
                    width: 30px;
                }
            }
        }

        &-2{
            background-color: $cyan;

            &::after{
                @include nav-pink(calc(66.66666% - 20px));

                @media (max-width: 750px) {
                    @include nav-pink(calc(66.66666% - 10px));
                    transform: skew(-15deg);
                    height: 60px;
                    width: 30px;
                }
            }
        }

        &-3{
            background-color: $purple;
        }

        @media (max-width: 1030px) {
            font-size: 30px;
        }

        @media (max-width: 930px) {
            font-size: 25px;
        }

        @media (max-width: 750px) {
            font-size: 20px;
            line-height: 60px;
        }
    }

    @media (max-width: 750px) {
        height: 60px;
    }
}

.main{
    margin: 0 100px;
    padding-top: 150px;
    height: auto;

    @media (max-width: 900px) {
        margin: 0 70px;
    }

    @media (max-width: 830px) {
        margin: 0 45px;
    }

    @media (max-width: 700px) {
        margin: 0 30px;
    }
}

.Top-Logo{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    margin: 50px 0 0px 0;
    border-radius: $border-radius;
    background-color: rgba(white, .35);

    @media (max-width: 1030px) {
        height: 160px;
    }

    @media (max-width: 650px) {
        height: 80px;
    }

    .Logo{
        align-self: center;
        height: 100px;
        width: auto;

        @media (max-width: 1200px) {
            height: 95px;
        }

        @media (max-width: 1030px) {
            height: 90px;
        }

        @media (max-width: 1000px) {
            height: 70px;
        }

        @media (max-width: 830px) {
            height: 50px;
        }

        @media (max-width: 650px) {
            height: 40px;
        }
    }

    .logo-name{
        position: relative;
        top: -5px;
        line-height: 200px;
        text-align: center;
        margin: 0 20px;
        font-size: 140px;
        font-weight: 100;

        @media (max-width: 1350px) {
            font-size: 120px;
        }

        @media (max-width: 1200px) {
            font-size: 115px;
        }

        @media (max-width: 1030px) {
            line-height: 160px;
            font-size: 110px;
        }

        @media (max-width: 1000px) {
            font-size: 85px;
        }

        @media (max-width: 830px) {
            font-size: 65px;
            margin: 0 5px;
        }

        @media (max-width: 650px) {
            line-height: 80px;
            font-size: 50px;
            margin: 0 5px;
        }
    }
}

.search{
    width: 100%;
    height: 55px;
    margin: 150px 0;
    display: flex;

    @media (max-width: 900px) {
        height: 45px;
    }

    .categories-dropdown{
        display: flex;
        @include search-field;
        margin: 0;
        background-color: $yellow;
        height: 100%;
        width: 100%;
        text-align: center;
        border-radius: $border-radius;
        font-size: $font-size-regular;

        @media (max-width: 900px) {
            font-size: 20px;
            line-height: 45px;
        }

        .Categories{
            @include search-field;
            margin: 0 0 0 10px;
            width: 140px;
            background-color: $yellow;
            height: 100%;
            text-align: center;

            @media (max-width: 900px) {
                font-size: 20px;
                line-height: 45px;
                margin: 0 0 0 5px;
            }
        }

        .triangle{
            margin: 2px 5px 0 0;
            font-size: 40px;

            @media (max-width: 900px) {
                margin: 2px 5px 0 0;
                font-size: 20px;
                line-height: 40px;
            }
        }
    }


    .input{
        @include search-field;
        width: 100%;
        outline: none;
        padding: 0 10px;
        border: 2px solid $purple;
        color: $cyan;
    }

    .glass{
        margin: 0;
        width: 80px;
        height: 100%;
        background-color: $yellow;
        font-size: $font-size-regular;
        text-align: center;
        line-height: 55px;
        border-radius: 0 $border-radius $border-radius 0;

        @media (max-width: 1080px) {
            width: 90px;
        }

        @media (max-width: 900px) {
            width: 100px;
            font-size: 20px;
            line-height: 45px;
        }

        @media (max-width: 700px) {
            width: 120px;
        }
    }
}

.fields{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-auto-rows: minmax(auto, 375px);
    gap: 75px;
    margin: 100px 0;

    @media (max-width: 1850px) {
        grid-auto-rows: minmax(auto, 350px);
    }

    @media (max-width: 1800px) {
        grid-auto-rows: minmax(auto, 325px);
    }

    @media (max-width: 1750px) {
        grid-auto-rows: minmax(auto, 290px);
    }

    @media (max-width: 1700px) {
        grid-auto-rows: minmax(auto, 250px);
        gap: 60px;
    }

    @media (max-width: 1550px) {
        grid-auto-rows: minmax(auto, 230px);
    }

    @media (max-width: 1450px) {
        gap: 50px;
    }

    @media (max-width: 1200px) {
        grid-template-columns: repeat(2, 2fr);
    }

    @media (max-width: 900px) {
        grid-template-columns: repeat(1, 2fr);
        gap: 100px;
    }
}


.section{
    @include boxmix;

    &-1{
        border-color: $yellow; 
    }

    &-2{
       border-color: $cyan; 
    }

    &-3{
       border-color: $purple; 
    }

    &-4{
       border-color: $yellow; 
    }

    &-5{
       border-color: $cyan; 
    }
}

.section-1{
    grid-column: 1 / 3;
    grid-row: 1;
}

.section-2{
    grid-column: 3 / -1;
    grid-row: 1;
}

.section-3{
    grid-column: 1 / 2;
    grid-row: 2;
}

.section-4{
    grid-column: 2 / -1;
    grid-row: 2;
}

.section-5{
    grid-column: 1 / 3;
    grid-row: 3;
}

@media (max-width: 1200px) {
    .section-1{
        grid-column: 1 / -1;
        grid-row: 1;
    }
    
    .section-2{
        grid-column: 1 / 2;
        grid-row: 2;
    }
    
    .section-3{
        grid-column: 2 / -1;
        grid-row: 2;
    }
    
    .section-4{
        grid-column: 1 / -1;
        grid-row: 3;
    }
    
    .section-5{
        grid-column: 1 / -1;
        grid-row: 4;
    }
}

@media (max-width: 900px) {
    .section-1{
        grid-column: 1 / -1;
        grid-row: 1;
    }
    
    .section-2{
        grid-column: 1 / -1;
        grid-row: 2;
    }
    
    .section-3{
        grid-column: 1 / -1;
        grid-row: 3;
    }
    
    .section-4{
        grid-column: 1 / -1;
        grid-row: 4;
    }
    
    .section-5{
        grid-column: 1 / -1;
        grid-row: 5;
    }
}

.footer{
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;
    width: calc(100% - 6px);
    height: 225px;
    border: 3px solid $purple;
    border-radius: $border-radius $border-radius 0 0;
    font-size: 20px;
    background-color: $back-color-white;

    @media (max-width: 1200px) {
        font-size: 15px;
    }

    @media (max-width: 930px) {
        
    }

    *{
        margin: 0 5px;
        div{
            font-weight: 600;
            margin: 5px 0;
        }

        li{
            @include footer-Sections;

            @media (max-width: 650px) {
                
            }
        }
    }

    .Bottom-Logo{
        display: flex;
        height: 100%;
        width: 40%;
        align-items: center;

        .Logo-Small{
            height: 40%;

            @media (max-width: 1200px) {
                height: 30%;
            }
        }

        .logo-name-Small{
            text-align: center;
            font-size: 50px;
            font-weight: 200;

            @media (max-width: 1200px) {
                font-size: 40px;
            }
        }

        @media (max-width: 930px) {
            position: absolute;
            bottom: 0;
            left: 0;
            margin: 0 0 0 50px;
            height: 120px;
            width: auto;
        }

        @media (max-width: 550px) {
            position: absolute;
            bottom: 0;
            left: 0;
            margin: 0 0 0 0px;
            height: 120px;
            width: auto;
        }
    }
}

